/* Reset */
* {
  /* to reset html defaults */
  margin: 0;
  padding: 0;
  /* we dont want the padding for exmaple to be added to the actualt width of the box */
  box-sizing: border-box;
}

@font-face {
  font-family: "Gotham";
  src: url(../fonts/GothamBook.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(../fonts/GothamMedium.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(../fonts/GothamBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  font-family: "Gotham";
  /* line-height: 18px; */
  /* font-size: 16px; */
}

a {
  color: #ffffff;
  text-decoration: none;
}
h1,
h2,
h3 {
  font-size: 40px;
  line-height: 48px;
}

p {
  margin: 10px 0;
}

.tesla-logo {
  display: block;
}
.menu-ham {
  font-size: 22px;
  float: right;
  padding-top: 11px;
}
/* Utility Classes */
.nav-container {
  margin-right: 5px;
  overflow: auto;
}

/* Navbar */
#navbar {
  color: #fff;
  overflow: auto;
  list-style: none;
  background: transparent;
}

#navbar ul {
  list-style: none;
}
.clr {
  clear: both;
}

#navbar h1,
.nav-center a {
  float: left;
  display: block;
  margin: 0px 22px;
}

.nav-right-container {
  display: inline-block;
  width: calc(24.5%);
  text-align: center;
  padding-top: 16px;
  height: 52px;
}
.nav-center-container {
  display: inline-block;
  width: calc(39%);
  text-align: center;
  padding-top: 16px;
  margin-left: 501px;
  height: 52px;
}
.nav-center {
  text-align: right;
}

#navbar li a {
  display: block;
  margin: 0px 10px;
  text-align: center;
}

.nav-right a {
  display: block;
  float: right;
}

/* Show case */
header {
  /* .. means outside of the current folder */
  background: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/b03da2fc-ecaa-4554-8df9-8f73e411f360/bvlatuR/std/2880x1800/model-3-hero-desktop")
    no-repeat center center/cover;
  height: 100vh;
  min-height: 100%;
  color: #fff;
  font-family: "Gotham";
  font-weight: "GothamMedium";
}

.showcase-content {
  text-align: center;
  font-size: 40px;
  padding-top: 85px;
}
